<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81111578667-rren2kh1r8t2aq09nghkve1rhm6jehg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81111578667-rren2kh1r8t2aq09nghkve1rhm6jehg9</string>
	<key>API_KEY</key>
	<string>AIzaSyDucLYeCkVev6OeJGhAFGjqrsj0lUmjWTs</string>
	<key>GCM_SENDER_ID</key>
	<string>81111578667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pi.api.pinotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pinotes-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>pinotes-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81111578667:ios:2ed2075cef650782e8126e</string>
</dict>
</plist>